.btn-round-line,
.btn-light-blue,
.btn-red,
.btn-gold,
.btn-line-gold,
.btn-orange,
.btn-line-orange {
	transition: all 0.3s ease-in;
	padding: 0.75em 1em;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-radius: 5px;
	transform: translateX(0px) translateY(0px);
	color: $themeBlack;
	&:hover {
		transition: all 0.3s ease-out;
		transform: translateX(0px) translateY(-5px);
		transform-style: preserve-3d;
		box-shadow: 1px 4px 11px -2px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 1px 4px 11px -2px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 1px 4px 11px -2px rgba(0, 0, 0, 0.75);
	}
	@media (max-width: 767px) {
		width: 100%;
		display: block;
		max-width: 100%;
		text-align: center;
	}
}

.btn-round-line {
	border: solid 1px $themeBlack;
	border-radius: 50px;
	&:hover {
		color: #fff;
		background-color: $themeBlack;
	}
}

.btn-light-blue {
	background-color: $lightBlue;
	border-radius: 5px;
	color: #fff;
	&:hover {
		background-color: #4d98e3;
		color: #fff;
	}
}

.btn-red {
	background-color: #7c1813;
	color: #fff;
	border-radius: 5px;
	&:hover {
		background-color: transparent;
		border: solid 2px #7c1813;
		color: #7c1813;
	}
}

.btn-gold {
	color: #fff;
	background-color: #c09f29;
	border: solid 1px #c09f29;
	&:hover {
		color: #fff;
	}
}

.btn-line-gold {
	border: solid 1px#c09f29;
	border-radius: 5px;
	color: #c09f29;
	background: transparent;
	&:hover {
		background-color: #c09f29;
		color: #fff;
	}
}

.btn-round {
	border-radius: 50px !important;
}

.btn-orange {
	color: #fff;
	background-color: #dd9c29;
	border: solid 1px #dd9c29;
	&:hover {
		color: #fff;
	}
}

.btn-line-orange {
	border: solid 1px #dd9c29;
	border-radius: 5px;
	color: #dd9c29;
	background: transparent;
	&:hover {
		background-color: #dd9c29;
		color: #fff;
	}
}

.btn-full {
	width: 100%;
	display: block;
}

button,
button:focus {
	border: none;
	outline: none;
	cursor: pointer;
}
