.top-header {
	background: #dd9c29;
	.top-header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 45px;
		.quick-links {
			display: flex;
			justify-content: flex-end;
			a {
				color: #fff;
				text-decoration: none;
				font-size: 14px;
				font-weight: 600;
				display: flex;
				align-items: center;
				height: 45px;
				transition: 250ms;
				padding: 0 10px;
				letter-spacing: 0;
				&:hover {
					background: #d6931e;
					transition: 250ms;
				}
				&:first-child {
					img {
						max-height: 18px;
					}
				}
				&:last-child {
					min-width: 170px;
				}
				img {
					margin-right: 5px;
					max-height: 34px;
				}
			}
			@media (min-width: 768px) and (max-width: 1024px) {
				display: flex;
				justify-content: flex-end;
				a {
					height: 40px;
					min-width: 150px;
				}
			}
			@media (max-width: 767px) {
				display: flex;
				justify-content: flex-end;
				a {
					min-width: 150px;
					height: 40px;
					&:first-child {
						display: none;
					}
				}
			}
		}
		.phone-number {
			h6 {
				margin: 0;
				font-size: 16px;
				color: #fff;
				display: flex;
				align-items: center;
				span {
					letter-spacing: 0;
					font-weight: 700;
					&:last-child {
						margin-left: 5px;
					}
					a {
						color: #fff;
						text-decoration: none;
					}
				}
			}
			@media (max-width: 767px) {
				h6 {
					.text {
						display: none;
					}
					span {
						font-size: 14px;
					}
				}
			}
		}
	}
}

.logo-wrapper {
	text-align: center;
	padding: 20px 0 10px;

	img {
		max-width: 290px;
	}

	@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
		justify-content: space-between;
		align-items: center;
		display: flex;
		padding: 20px 15px 0;
		img {
			max-width: 240px;
		}

		.navbar-toggle {
			display: inline-block;
			background: transparent;
			border: none;
			color: #092d4b;
			cursor: pointer;
			font-size: 24px;
		}
	}

	@media (max-width: 767px) {
		justify-content: space-between;
		align-items: center;
		display: flex;
		padding: 20px 15px;
		img {
			max-width: 240px;
		}

		.navbar-toggle {
			display: inline-block;
			background: transparent;
			border: none;
			color: #092d4b;
			cursor: pointer;
			font-size: 24px;
		}
	}
}

nav {
	&.navbar {
		&.custom-nav {
			background: #fff;
			padding: 0.5rem 1rem;
		}
		@media (max-width: 767px) {
			&.custom-nav {
				padding: 0;
			}
		}
	}
	.menu-header {
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
	.navbar-collap {
		width: 100%;
	}

	.navbar-list {
		display: flex;
		padding: 0;
		list-style: none;
		justify-content: center;
		width: 100%;
		margin: 0;
		li {
			.nav-link {
				cursor: pointer;
				padding: 0 10px;
				color: #292929;
				text-decoration: none;
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 0.5rem 1rem;
				letter-spacing: 0;
				display: flex;
				align-items: center;
				.showSidebar {
					font-size: 11px;
					height: 20px;
					display: flex;
					width: 20px;
					justify-content: center;
					align-items: center;
				}
				&:hover {
					color: #e79b25 !important;
					transition: 200ms;
				}
			}
			.dropdown-menu {
				// box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.12);
				border-radius: 5px;
				top: 35px;
				border: none;
				a {
					cursor: pointer;
					padding: 5px 10px;
					color: #292929;
					text-decoration: none;
					font-size: 14px;
					text-transform: uppercase;
					display: block;
					letter-spacing: 0;
					&:hover {
						background: #e79b25;
						color: #fff;
					}
				}
			}
			.logo-wrapper {
				padding: 5px 0;
				img {
					height: 72px;
				}
			}
		}
	}

	@media (max-width: 991px) {
		.navbar-list {
			flex-direction: column;
			li {
				&.nav-item {
					// &:last-child,
					// &:nth-child(1) {
					// 	a {
					// 		padding: 10px 30px;
					// 	}
					// }
					.dropdown {
						.dropdown-menu {
							background-color: #e799250c;
							position: relative;
							float: none;
							top: auto;
							border-radius: 0;
							&.show {
								box-shadow: none;
							}
							a {
								display: block;
								float: none;
								width: 100%;
								padding: 10px 30px;
								color: #fff;
							}
						}
						.showSidebar {
							transform: rotate(-90deg);
						}
						&.show {
							.showSidebar {
								transform: rotate(0deg);
							}
						}
					}
				}
				.nav-link {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 10px 30px;
					font-weight: bold;
					font-size: 16px;
					line-height: 150%;
					color: #fff;
					.showSidebar {
						// font-size: 0;
						transition: all 0.3s ease;
					}
				}
			}
		}
		.navbar-collap {
			position: fixed;
			background: $darkBlue;
			transition: 450ms;
			bottom: 0;
			top: 0;
			right: 0;
			width: 0;
			overflow-x: auto;
			height: 100%;
			z-index: 99;

			&.active {
				transition: 450ms;
				width: 100%;
			}
		}

		.menu-header {
			background: $themeYellow;
			display: flex;
			align-items: center;
			height: 45px;
			justify-content: flex-end;
			padding: 30px 0;
			margin-bottom: 30px;
			.navbar-hide {
				background: transparent;
				color: #fff;
				box-shadow: none;
				border: none;
				font-size: 30px;
				display: block;
				margin: 0 0 0 auto;
				padding: 10px;
				&:focus {
					box-shadow: none;
					outline: none;
				}
			}
		}
	}
}

ul.footer-list {
	padding: 0;
	list-style: none;
	margin-bottom: 25px;

	@media (max-width: 767px) {
		display: none;
	}
}

.social-links {
	display: flex;
	margin-top: 20px;
	a {
		height: 36px;
		width: 36px;
		background: #2b333b;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40px;
		margin-right: 15px;
		&:hover {
			background: #dd9c29;
		}
	}
	@media (max-width: 767px) {
		margin: 25px 0;
		justify-content: center;
	}
}
