.secondary-title {
	font-weight: bold;
	font-size: 40px;
	font-family: "Montserrat", serif;
	@media (max-width: 767px) {
		font-size: 30px;
	}
}

// Homepage obit
.home-obit-wrapper {
	padding: 60px 0;
	#obit-slides {
		.slick-next,
		.slick-prev {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.slick-prev:before,
		.slick-next:before {
			display: none;
		}

		&.obit-items-wrapper {
			.obit-item {
				.obit-image {
					border-radius: 100%;
					overflow: hidden;
					max-height: 150px;
					width: 150px;
					margin: 0 auto 10px;
				}
			}
		}
	}

	.obit-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 40px;
		.obit-title {
			font-weight: bold;
			font-size: 48px;
			flex: 1;
			margin: 0 10px;
			text-align: center;

			.divider,
			a {
				display: none;
			}
		}

		form {
			border: solid 1px #d6d6d6;
			border-radius: 50px;
			overflow: hidden;
			height: 40px;
			display: flex;
			align-items: center;
			.input-group {
				align-items: center;
				.form-control {
					border: none;
					flex: 0 0 80%;
					max-width: 80%;
					height: 100%;
					background: transparent;
					&:focus {
						outline: none;
						box-shadow: none;
					}
				}
				button {
					height: 100%;
					flex: 0 0 20%;
					max-width: 20%;
					background-color: transparent;
					border: none;
					&:focus {
						outline: none;
						box-shadow: none;
					}
				}
			}
		}

		@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
			flex-direction: column-reverse;
			.obit-title {
				line-height: 50px;
				margin: 20px 0 15px;
			}
		}

		@media (max-width: 767px) {
			justify-content: center;
			.obit-title {
				margin: 20px 0 15px;
				line-height: 50px;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}

	.obit-items-wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.obit-item {
			margin-bottom: 15px;
			.obit-image {
				display: flex;
				align-items: center;
				img {
					width: 100%;
					object-fit: cover;
				}
			}
			.obit-properties {
				text-align: center;
				color: $themeBlack;
				.obit-name {
					font-weight: bold;
				}
				.obit-date {
					font-size: 12px;
				}
			}
		}
	}
	.subscribe-text {
		width: 100%;
		padding: 30px 0;
		text-align: center;
		a {
			color: #c5a11f;
		}
		&.items-option3 {
			padding: 1em 0 2em;
		}
	}
	.obit-container {
		display: none;
	}
	&.homeobit-option2 {
		display: block;
		#obit-slides {
			display: none;
		}
		.obit-header {
			flex-direction: row-reverse;
			.obit-btn {
				display: none;
			}
			.obit-title {
				text-align: left;
				display: flex;
				align-items: center;
				.divider,
				a {
					display: flex;
					align-items: center;
				}
				a {
					font-size: 16px;
					color: #000;
					&:hover {
						color: #c5a11f;
					}
				}
				.divider {
					width: 3px;
					height: 40px;
					background-color: #d5d5d5;
					margin: 0 20px;
				}
			}
			form {
				border-radius: 0;
			}

			@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
				.obit-title {
					font-size: 30px;
				}
			}
			@media (max-width: 767px) {
				.obit-title {
					font-size: 26px;
					flex-wrap: wrap;
					.divider {
						margin: 0 5px;
					}
					a {
						font-size: 14px;
					}
				}
				form {
					width: 100%;
				}
			}
		}
		.obit-item {
			flex: 0 0 16.6%;
			max-width: 16.6%;
			position: relative;
			.obit-properties {
				color: #fff;
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				padding: 0 10px;
			}
			.overlay {
				background: rgb(255, 255, 255);
				background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 1) 97%);
				background: -webkit-linear-gradient(
					180deg,
					rgba(255, 255, 255, 0) 60%,
					rgba(0, 0, 0, 1) 97%
				);
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 1) 97%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
			}

			@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
				flex: 0 0 33.3%;
				max-width: 33.3%;
			}
			@media (max-width: 767px) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.subscribe-text {
			display: none;
		}

		.obit-container {
			display: block;
			background-color: #09233f;
			.subscribe-text {
				display: block;
				color: #fff;
			}
		}
	}

	&.text-white {
		.obit-header {
			.obit-title,
			form .form-control::placeholder,
			form button i,
			.obit-title a {
				color: #fff;
			}
		}
		.obit-items-wrapper .obit-item .obit-properties .obit-name,
		.obit-items-wrapper .obit-item .obit-properties .obit-date {
			color: #fff;
		}
	}
	&.nopadding {
		@media (max-width: 767px) {
			.obit-header {
				padding: 0 15px;
			}
		}
	}
}

// Listpage obit

#obituaries-page {
	background: #e9edf1;
	overflow: hidden;
	.search-form-wrapper {
		background: #fff;
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
		padding: 40px;
		border-radius: 5px;
		margin-bottom: 3em;
		@media (max-width: 767px) {
			padding: 40px 15px;
			margin: -60px -15px 2em;
			border-radius: 0;
		}
		form {
			.input-group {
				border: solid 1px #d6d6d6;
				border-radius: 5px;
				overflow: hidden;
				.form-control {
					border: none;
					border-radius: 0;
					flex: 0 0 95%;
					max-width: 95%;
				}
				button {
					max-width: 5%;
					flex: 0 0 5%;
					background: none;
				}
				.form-control,
				button {
					height: 50px;
				}

				.form-control {
					transition: all 0.3s ease;
					&:focus {
						outline: none;
						box-shadow: none;
					}
				}
			}
		}
		@media (max-width: 767px) {
			form {
				margin-top: 15px;
				.input-group {
					.form-control {
						flex: 0 0 80%;
						max-width: 80%;
					}
					button {
						flex: 0 0 20%;
						max-width: 20%;
					}
				}
			}
		}
	}
	.subscribes-form {
		padding: 60px 20px;
		border-radius: 8px;
		background-color: #fff;
		background-image: url(../assets/newsletter-bg.jpg);
		background-position: bottom;
		background-size: cover;
		background-repeat: no-repeat;
		box-shadow: none;

		.form-content {
			margin: 0 10px;
			text-align: center;
			.form-title {
				font-weight: bold;
				font-size: 24px;
			}
			p {
				margin: 20px 0;
				font-size: 16px;
				line-height: normal;
			}
			form {
				.input-group {
					margin-bottom: 10px;
				}
				.form-control {
					width: 100%;
				}
				.form-control {
					height: 40px;
				}
				.btn-gold {
					width: 100%;
					display: block;
				}
			}
		}
	}
	// General styling
	.obituaries-item {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 2em;

		.obituaries-image {
			flex: 0 0 30%;
			max-width: 30%;
			background: #fff;
			padding: 7px;
			border-radius: 5px;
			overflow: hidden;
			height: 311px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		.obituaries-properties {
			flex: 0 0 70%;
			max-width: 70%;
			padding: 10px 10px 10px 25px;
			.obit-name {
				font-weight: bold;
				font-size: 24px;
			}
			span {
				display: block;
				margin: 12px 0 7px;
			}
			p {
				margin-bottom: 0;
			}
			.btn-wrapper {
				margin: 30px 0 0;

				@media (max-width: 767px) {
					a {
						display: block;
						&:first-child {
							margin-bottom: 15px;
						}
					}
				}
			}
		}

		@media (max-width: 767px) {
			.obituaries-image {
				max-width: 70%;
				flex: 0 0 70%;
				margin: 0 auto 15px;
			}
			.obituaries-properties {
				flex: 0 0 100%;
				max-width: 100%;
				.obit-name,
				span {
					text-align: center;
				}
			}
			.obituaries-properties {
				padding: 10px 0;
			}
		}
	}
	// Option styling
	&.obituaries-option3,
	&.obituaries-option4 {
		.search-form-wrapper {
			form {
				margin-top: 10px;
			}
		}
	}

	&.obituaries-option4 {
		.obituaries-item {
			background: #fff;
			padding: 1em;
			box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.08);
		}
	}
}

// Pagination
.pagination {
	margin: 2em 0;
	justify-content: flex-end;
	a {
		color: #09233f;
	}
	.pagination-nav {
		a {
			border: solid 1px #09233f;
			padding: 7px 10px;
			display: block;
			&:hover {
				background-color: #09233f;
				color: #fff;
			}
			&.disabled {
				color: #d5d5d5;
				border: solid 1px #d5d5d5;
				&:hover {
					background-color: transparent;
					color: #d5d5d5;
				}
			}
		}
	}
	.pagination-nums {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 15px;
		a {
			padding: 7px 10px;
			margin: 0 5px;
			min-width: 40px;
			text-align: center;
			display: block;
			&:hover,
			&.active {
				background-color: #09233f;
				border: solid 1px #09233f;
				color: #fff;
			}
		}
	}
}
