.secondary-title {
	font-weight: bold;
	font-size: 40px;
	font-family: "Montserrat", serif;
	@media (max-width: 767px) {
		font-size: 30px;
	}
}

// Homepage obit
.obuturies-wrapper {
	/* Enable when obit option 3 is choosen */
	&.obit-option3 {
		padding: 60px 0 0;

		.obit-noti {
			display: none;
		}

		.view-all-obit {
			padding-bottom: 60px;
		}
	}

	.obit-container {
		background-color: #09233f;
	}

	.obit-items-wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.obit-item {
			margin-bottom: 15px;
			.obit-image {
				display: flex;
				align-items: center;
				img {
					width: 100%;
					object-fit: cover;
				}
			}
			.obit-properties {
				text-align: center;
				color: $themeBlack;
				.obit-name {
					font-weight: bold;
				}
				.obit-date {
					font-size: 12px;
				}
			}
		}
		&.items-default {
			margin: 0 -15px;
			.obit-item {
				flex: 0 0 20%;
				max-width: 25%;
				padding: 0 15px;
				.obit-image {
					border-radius: 100%;
					overflow: hidden;
					max-height: 150px;
					width: 150px;
					margin: 0 auto 10px;
				}
			}
		}
		&.items-option3 {
			.obit-item {
				flex: 0 0 16.6%;
				max-width: 16.6%;
				position: relative;
				.obit-properties {
					color: #fff;
					position: absolute;
					bottom: 20px;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					padding: 0 10px;
				}
				.overlay {
					background: rgb(255, 255, 255);
					background: -moz-linear-gradient(
						180deg,
						rgba(255, 255, 255, 0) 60%,
						rgba(0, 0, 0, 1) 97%
					);
					background: -webkit-linear-gradient(
						180deg,
						rgba(255, 255, 255, 0) 60%,
						rgba(0, 0, 0, 1) 97%
					);
					background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 1) 97%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 50%;
				}
			}
		}
	}
	.subscribe-text {
		width: 100%;
		text-align: center;
		color: #fff;
		a {
			color: #c5a11f;
		}
		&.items-option3 {
			padding: 1em 0 2em;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.obuturies-wrapper .obit-items-wrapper.items-option3 .obit-item,
	.obuturies-wrapper .obit-items-wrapper.items-default .obit-item {
		flex: 0 0 33.3%;
		max-width: 33.3%;
	}
}

@media (max-width: 767px) {
	.obuturies-wrapper .obit-items-wrapper {
		padding: 0 15px;
	}
	.obuturies-wrapper .obit-items-wrapper.items-option3 .obit-item {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.obuturies-wrapper .obit-items-wrapper.items-default .obit-item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.subscribe-text.items-option3 {
		padding: 1.5em 15px 2em;
	}
}

// Listpage obit

#obituaries-page {
	background: #e9edf1;
	overflow: hidden;
	.search-form-wrapper {
		background: #fff;
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
		padding: 40px;
		border-radius: 5px;
		margin-bottom: 3em;
		@media (max-width: 767px) {
			padding: 40px 15px;
			margin: -60px -15px 2em;
			border-radius: 0;
		}
		form {
			.input-group {
				border: solid 1px #d6d6d6;
				border-radius: 5px;
				overflow: hidden;
				.form-control {
					border: none;
					border-radius: 0;
					flex: 0 0 95%;
					max-width: 95%;
				}
				button {
					max-width: 5%;
					flex: 0 0 5%;
					background: none;
				}
				.form-control,
				button {
					height: 50px;
				}

				.form-control {
					transition: all 0.3s ease;
					&:focus {
						outline: none;
						box-shadow: none;
					}
				}
			}
		}
		@media (max-width: 767px) {
			form {
				margin-top: 15px;
				.input-group {
					.form-control {
						flex: 0 0 80%;
						max-width: 80%;
					}
					button {
						flex: 0 0 20%;
						max-width: 20%;
					}
				}
			}
		}
	}
	.subscribes-form {
		padding: 60px 20px;
		border-radius: 8px;
		background-color: #fff;
		background-image: url(../assets/newsletter-bg.jpg);
		background-position: bottom;
		background-size: cover;
		background-repeat: no-repeat;
		box-shadow: none;

		.form-content {
			margin: 0 10px;
			text-align: center;
			.form-title {
				font-weight: bold;
				font-size: 24px;
			}
			p {
				margin: 20px 0;
				font-size: 16px;
				line-height: normal;
			}
			form {
				.input-group {
					margin-bottom: 10px;
				}
				.form-control {
					width: 100%;
				}
				.form-control {
					height: 40px;
				}
				.btn-gold {
					width: 100%;
					display: block;
				}
			}
		}
	}
	// General styling
	.obituaries-item {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 2em;

		.obituaries-image {
			flex: 0 0 30%;
			max-width: 30%;
			background: #fff;
			padding: 7px;
			border-radius: 5px;
			overflow: hidden;
			height: 311px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		.obituaries-properties {
			flex: 0 0 70%;
			max-width: 70%;
			padding: 10px 10px 10px 25px;
			.obit-name {
				font-weight: bold;
				font-size: 24px;
			}
			span {
				display: block;
				margin: 12px 0 7px;
			}
			p {
				margin-bottom: 0;
			}
			.btn-wrapper {
				margin: 30px 0 0;

				@media (max-width: 767px) {
					a {
						display: block;
						&:first-child {
							margin-bottom: 15px;
						}
					}
				}
			}
		}

		@media (max-width: 767px) {
			.obituaries-image {
				max-width: 70%;
				flex: 0 0 70%;
				margin: 0 auto 15px;
			}
			.obituaries-properties {
				flex: 0 0 100%;
				max-width: 100%;
				.obit-name,
				span {
					text-align: center;
				}
			}
			.obituaries-properties {
				padding: 10px 0;
			}
		}
	}
	// Option styling
	&.obituaries-option3,
	&.obituaries-option4 {
		.search-form-wrapper {
			form {
				margin-top: 10px;
			}
		}
	}

	&.obituaries-option4 {
		.obituaries-item {
			background: #fff;
			padding: 1em;
			box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.08);
		}
	}
}

// Pagination
.pagination {
	margin: 2em 0;
	justify-content: flex-end;
	a {
		color: #09233f;
	}
	.pagination-nav {
		a {
			border: solid 1px #09233f;
			padding: 7px 10px;
			display: block;
			&:hover {
				background-color: #09233f;
				color: #fff;
			}
			&.disabled {
				color: #d5d5d5;
				border: solid 1px #d5d5d5;
				&:hover {
					background-color: transparent;
					color: #d5d5d5;
				}
			}
		}
	}
	.pagination-nums {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 15px;
		a {
			padding: 7px 10px;
			margin: 0 5px;
			min-width: 40px;
			text-align: center;
			display: block;
			&:hover, &.active {
				background-color: #09233f;
				border: solid 1px #09233f;
				color: #fff;
			}
		}
	}
}